# Starknet Configuration
VITE_SEPOLIA_URL="https://starknet-sepolia.g.alchemy.com/starknet/version/rpc/v0_8/PP5-km-xd8s0Ui0FrVxyBSEfD_UhS0e9"
VITE_OWNERSHIP_ADDRESS="0x6c3efccda633fca9f4f2b29cd53a6de6d217398aeb8f6568f50cc891d085b59"
VITE_AUTHENTICITY_ADDRESS="0x59a8499e98d3ee34eadedf316b724a7481d1334a3ade435eccc322cd6c9ff26"